@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* easy font styling so that we can use font-sans and font-mono whenever */
.font-sans {
  font-family: var(--font-geist-sans);
}

.font-mono {
  font-family: var(--font-geist-mono);
}


/* defined dark and light mode here colors as bg-background and bg-foreground */
@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* html {
  filter: invert(1);
}

.no-invert {
  filter: invert(1);
} */
